/**
* @name Nocturnal: Shade
* @version 2
* @description Built off of Nocturnal by cruxie (originally by spectra). Modified and maintained by Memeverze.
* @author Memeverze (original by Spectra)
* @source https://github.com/xcruxiex/themes
* @website https://github.com/Memeverze/Nocturnal-Extended
*/
@import url("https://xcruxiex.github.io/themes/themes-cores/nocturnal.css");
@import url("https://davart154.github.io/Themes/Icon%20Revert%202023/2023%20Icon%20Revert.css");
@import url("https://raw.githubusercontent.com/Memeverze/Nocturnal-Extended/master/Core/Settings%20Modal.css");
/*

@import url("https://raw.githubusercontent.com/MiniDiscordThemes/SettingsIcons/main/SettingsIcons.theme.css");                                                                                                                                                                     
    _   __           __                         __          _____ __              __   
   / | / /___  _____/ /___  ___________  ____ _/ /  _      / ___// /_  ____ _____/ /__ 
  /  |/ / __ \/ ___/ __/ / / / ___/ __ \/ __ `/ /  (_)     \__ \/ __ \/ __ `/ __  / _ \
 / /|  / /_/ / /__/ /_/ /_/ / /  / / / / /_/ / /  _       ___/ / / / / /_/ / /_/ /  __/
/_/ |_/\____/\___/\__/\__,_/_/  /_/ /_/\__,_/_/  (_)     /____/_/ /_/\__,_/\__,_/\___/ 
                                                                                                            
                                                                                                                                                                     
*/
@import url("https://xcruxiex.github.io/themes/core/badges.css");
@import url("https://xcruxiex.github.io/themes/core/custom-font.css");
:root {
	--header-primary: #8d96a6);
	--header-secondary: #747d91);
 	--text-normal: #8d96a6;
	--text-muted: #2b2e33;
	--text-link: #00c954;
  --backgroundColor01: #16171a;
  --backgroundColor02: #0f1012;
  --mainColor: #829199;
  --gradientColor01: #578ff7;
  --gradientColor02: #5454f7;

  /* Better Hljs */
  --backgroundCode: #1e2731;
  --backgroundName: rgba(255, 0, 0, .2);

  --customFont: 'gg sans', sans-serif;
}
